{% extends "base.html" %} {% load static %} {% block content %}
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">This is the about page</h1>
			<p class="lead fw-normal text-white-50 mb-0">welcome to my store</p>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<br /><br />
		<center>
			<h1>About us</h1>
		<p>
			<div class="col-8">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
				ipsa labore eius beatae aliquam iusto incidunt ipsam deleniti cum,
				quos soluta assumenda iste et fugit explicabo ab quisquam? Iusto,
				laboriosam labore iure vero perferendis asperiores autem molestias
				sit, praesentium eos distinctio tenetur, ut aspernatur enim. Quod
				illum voluptate eos maiores. Asperiores adipisci fugiat
				exercitationem praesentium velit ullam reprehenderit minima ratione
				ea minus obcaecati ut veritatis eaque qui autem, quod mollitia non
				voluptate possimus. Odio iusto voluptates laudantium aspernatur.
				minus laborum minima? Eligendi vel voluptate magni quae! Sint rerum
				nostrum dolore dolor recusandae perspiciatis veritatis itaque
				placeat? Nemo quis laborum praesentium? Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Accusantium facilis doloribus,
				blanditiis suscipit dolorum ex modi vero placeat quidem harum?
				Pariatur nesciunt minus nulla blanditiis, quasi soluta consequatur
				molestias eius non nostrum error enim veniam similique fugiat. Earum
				dicta commodi at.
				<br />
				
				
				
			</div>
			<div class="col-8">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
				ipsa labore eius beatae aliquam iusto incidunt ipsam deleniti cum,
				quos soluta assumenda iste et fugit explicabo ab quisquam? Iusto,
				laboriosam labore iure vero perferendis asperiores autem molestias
				sit, praesentium eos distinctio tenetur, ut aspernatur enim. Quod
				illum voluptate eos maiores. Asperiores adipisci fugiat
				exercitationem praesentium velit ullam reprehenderit minima ratione
				ea minus obcaecati ut veritatis eaque qui autem, quod mollitia non
				voluptate possimus. Odio iusto voluptates laudantium aspernatur.
				minus laborum minima? Eligendi vel voluptate magni quae! Sint rerum
				nostrum dolore dolor recusandae perspiciatis veritatis itaque
				placeat? Nemo quis laborum praesentium? Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Accusantium facilis doloribus,
				blanditiis suscipit dolorum ex modi vero placeat quidem harum?
				Pariatur nesciunt minus nulla blanditiis, quasi soluta consequatur
				molestias eius non nostrum error enim veniam similique fugiat. Earum
				dicta commodi at quos voluptas itaque cupiditate dolor. Dicta
				necessitatibus excepturi deserunt. Lorem ipsum dolor sit amet
				consectetur adipisicing elit. Nisi atque ipsa, asperiores.
				<br />
				repudiandae explicabo dolorem ea veritatis ullam. In incidunt sed
				doloribus saepe accusantium temporibus delectus voluptatibus
				blanditiis! Optio, ipsa facilis explicabo, voluptate quo ex ipsum
				cumque atque vel sapiente inventore reprehenderit magnam ut voluptas
				fuga, recusandae pariatur omnis itaque architecto sunt molestiae.
				<br />
				earum corporis. Libero unde doloribus mollitia nisi tenetur,
				quisquam a assumenda, temporibus itaque molestias ea explicabo
				saepe? Fuga ea dolorem est ab voluptates sapiente natus ut nulla
				assumenda! Ex ipsum repudiandae itaque laudantium cupiditate culpa,
				vero aut est aspernatur dolores omnis hic dolor iusto, ratione
				laborum natus.
				<br /><br />
			</div>
		</p>
	</center>
	</div>
</div>
{% endblock content %}
