{% extends "base.html" %} {% load static %} {% block content %}
<header class="bg-dark py-2">
	<div class="container px-3 px-lg-4 my-4">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Update info</h1>
			<p class="lead fw-normal text-white-50 mb-0">Update User info</p>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<br />
		<br />

		<div class="col-md-6 offset-md-3">
            <br><br>
            <strong>Billing Information</strong>
			<br />
			<form method="POST" action="{% url 'update_info' %}">
				{% csrf_token %} {{ form.as_p }}
                <br><br>
                <!-- <strong>Shipping Address</strong> -->
                <!-- {{ shipping_form.as_p }} -->
				<br />
				<button type="submit" class="btn btn-secondary">
					Update Profile
				</button>
			</form>
			<br />
		</div>
		<br />
		<br />
	</div>
	<br />
	<br />
</div>
{% endblock content %}
